@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    @apply bg-background text-text p-0 m-0 overflow-hidden;
    font-family: 'Montserrat', sans-serif;
}

.shake {
    animation: shake-horizontal 0.3s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite;
}

@keyframes shake-horizontal {
    100% {
        transform: translateX(0);
    }
    70% {
        transform: translateX(-6px);
    }
    60% {
        transform: translateX(6px);
    }
    80% {
        transform: translateX(3px);
    }
    90% {
        transform: translateX(-3px);
    }
}